Repository CSC207-2022F-UofT/course-project-kronos, pull requests merged in 2022-11, with the labels that each got.

#20 16 implement category entity and category use cases
  gradle/wrapper/gradle-wrapper.jar
  src/main/java/adapters/CategoryController.java
  src/main/java/controllers/CategoryController.java
  src/main/java/controllers/CreateCategoryPresenter.java
  src/main/java/controllers/DeleteCategoryPresenter.java
  src/main/java/controllers/EditCategoryPresenter.java
  src/main/java/controllers/Example_controller.java
  src/main/java/entities/Category.java
  src/main/java/entities/CategoryFactory.java
  src/main/java/entities/Habit.java
  src/main/java/input_output/CreateCategoryInputBound.java
  src/main/java/input_output/CreateCategoryOutputBound.java
  src/main/java/input_output/CreateCategoryResponseModel.java
  src/main/java/input_output/EditCategoryInputBound.java
  src/main/java/ui/CategoryList.java
  src/main/java/ui/ColourPalette.java
  src/main/java/ui/CreateCategory.java
  src/main/java/ui/Main.java
  src/main/java/ui/TitleBar.java
  src/main/java/ui/ToDoViewModel.java
  src/main/java/use_cases/categories/create_category/CreateCategory.java
  src/main/java/use_cases/categories/create_category/CreateCategoryDsGateway.java
  src/main/java/use_cases/categories/create_category/CreateCategoryDsRequestModel.java
  src/main/java/use_cases/categories/create_category/CreateCategoryInputBound.java
  src/main/java/use_cases/categories/create_category/CreateCategoryInputData.java
  src/main/java/use_cases/categories/create_category/CreateCategoryOutputBound.java
  src/main/java/use_cases/categories/create_category/CreateCategoryOutputData.java
  src/main/java/use_cases/categories/create_category/CreateCategoryResponseModel.java
  src/main/java/use_cases/categories/delete_category/DeleteCategory.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryDsGateway.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryDsRequestModel.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryInputBound.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryInputData.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryOutputBoundary.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryOutputData.java
  src/main/java/use_cases/categories/edit_category/EditCategory.java
  src/main/java/use_cases/categories/edit_category/EditCategoryDsGateway.java
  src/main/java/use_cases/categories/edit_category/EditCategoryDsRequestModel.java
  src/main/java/use_cases/categories/edit_category/EditCategoryInputBound.java
  src/main/java/use_cases/categories/edit_category/EditCategoryInputData.java
  src/main/java/use_cases/categories/edit_category/EditCategoryOutputBoundary.java
  src/main/java/use_cases/categories/edit_category/EditCategoryOutputData.java
  src/main/java/use_cases/tasks/CreateCategory.java
  src/main/java/use_cases/tasks/CreateCategoryPresenter.java
  src/main/java/use_cases/tasks/CreateTask.java
  src/main/java/use_cases/tasks/CreateTaskPresenter.java
  src/main/java/use_cases/tasks/DeleteCategory.java
  src/main/java/use_cases/tasks/DeleteCategoryPresenter.java
  src/main/java/use_cases/tasks/DeleteTask.java
  src/main/java/use_cases/tasks/DeleteTaskPresenter.java
  src/main/java/use_cases/tasks/EditCategoryColour.java
  src/main/java/use_cases/tasks/EditCategoryName.java
  src/main/java/use_cases/tasks/EditCategoryVisibility.java
  src/main/java/use_cases/tasks/EditCategoryVisibilityPresenter.java
  src/main/java/use_cases/tasks/EditTask.java
  src/main/java/use_cases/tasks/EditTaskPresenter.java
  src/test/java/test_use_cases/TestCategoryUseCases.java
  src/test/java/testentities/TestCategory.java
Labels: task

#23 1 feature 1 user system
  build.gradle
  src/main/java/Habit_use_case/CreateHabit.java
  src/main/java/Habit_use_case/CreateHabitPresenter.java
  src/main/java/Habit_use_case/DeleteHabit.java
  src/main/java/Habit_use_case/DeleteHabitPresenter.java
  src/main/java/Habit_use_case/EditHabit.java
  src/main/java/Habit_use_case/EditHabitPresenter.java
  src/main/java/Habit_use_case/TrackHabit.java
  src/main/java/Habit_use_case/TrackHabitPresenter.java
  src/main/java/database/Database.java
  src/main/java/entities/Category.java
  src/main/java/entities/CategoryFactory.java
  src/main/java/entities/Factory.java
  src/main/java/entities/Habit.java
  src/main/java/entities/HabitFactory.java
  src/main/java/entities/Timer.java
  src/main/java/entities/Timertomato.java
  src/main/java/entities/User.java
  src/main/java/entities/UserFactory.java
  src/main/java/input_boundary/CreateHabitInput.java
  src/main/java/input_boundary/EditHabitInput.java
  src/main/java/input_boundary/TrackHabitInput.java
  src/main/java/ui/user/App.java
  src/main/java/ui/user/Button.java
  src/main/java/ui/user/CreateAccountPage.java
  src/main/java/ui/user/Label.java
  src/main/java/ui/user/LoginMainPage.java
  src/main/java/ui/user/LoginPage.java
  src/main/java/ui/user/MenuPage.java
  src/main/java/ui/user/Panel.java
  src/main/java/ui/user/TextField.java
  src/main/java/ui/user/UserCreationFail.java
  src/main/java/ui/user/textArea.java
  src/main/java/use_cases/user/AccountCreation.java
  src/main/java/use_cases/user/ChangePassword.java
  src/main/java/use_cases/user/StrengthPassword.java
  src/main/java/use_cases/user/UserDataAccessInterface.java
  src/main/java/use_cases/user/UserOutputBound.java
  src/main/java/user_use_cases/DeleteAccount.java
  src/main/java/user_use_cases/LoginAccount.java
  src/main/java/user_use_cases/UserInteractor.java
  src/main/java/userui/MenuPage.java
  src/test/java/test_database/TestDatabaseReadWrite.java
  src/test/java/test_use_cases/TestHabitUseCases.java
  src/test/java/testentities/HabitTest.java
  src/test/java/testentities/TestHabitFactory.java
  src/test/java/testentities/TestUser.java
  src/test/java/testentities/TestUserFactory.java
  test.json
  test.ser
Labels: user system

#19 2 feature 2 habits profile and tracker
  src/main/java/Habit_use_case/CreateHabitPresenter.java
  src/main/java/Habit_use_case/DeleteHabitPresenter.java
  src/main/java/Habit_use_case/EditHabitPresenter.java
  src/main/java/Habit_use_case/TrackHabitPresenter.java
  src/main/java/controllers/CreateHabitController.java
  src/main/java/controllers/EditHabitController.java
  src/main/java/controllers/TrackHabitController.java
  src/main/java/entities/Habit.java
  src/main/java/entities/HabitFactory.java
  src/main/java/example_user/UserExample.java
  src/main/java/input_boundary/EditHabitInput.java
  src/main/java/input_boundary/TrackHabitInput.java
  src/main/java/ui/CreateHabitUI.java
  src/main/java/ui/EditHabitUI.java
  src/main/java/ui/HabitMainUI.java
  src/main/java/ui/TrackHabitUI.java
  src/main/java/use_cases/habits/create_habit/CreateHabit.java
  src/main/java/use_cases/habits/create_habit/CreateHabitInputBoundary.java
  src/main/java/use_cases/habits/create_habit/CreateHabitOutputBoundary.java
  src/main/java/use_cases/habits/delete_habit/DeleteHabit.java
  src/main/java/use_cases/habits/delete_habit/DeleteHabitOutputBoundary.java
  src/main/java/use_cases/habits/edit_habit/EditHabit.java
  src/main/java/use_cases/habits/edit_habit/EditHabitInputBoundary.java
  src/main/java/use_cases/habits/edit_habit/EditHabitOutputBoundary.java
  src/main/java/use_cases/habits/track_habit/TrackHabit.java
  src/main/java/use_cases/habits/track_habit/TrackHabitInputBoundary.java
  src/main/java/use_cases/habits/track_habit/TrackHabitOutputBoundary.java
  src/test/java/test_use_cases/TestHabitUseCases.java
  src/test/java/testentities/TestFactory.java
  src/test/java/testentities/TestHabitFactory.java
Labels: habit

#22 4 feature 4 tomato timer
  images/Play.gif
  images/Timer_Pause.png
  images/Timer_Play.png
  images/Timer_Skip.png
  images/Timer_Stop.png
  resources/miglayout-3.5.5.jar
  src/main/java/UI/ButtonforView.java
  src/main/java/UI/ColorforView.java
  src/main/java/UI/FontforView.java
  src/main/java/UI/TimerScreen.java
  src/main/java/controllers/TimerController.java
  src/main/java/entities/TimerTomato.java
  src/main/java/entities/User.java
  src/main/java/example_user/UserExample.java
  src/main/java/use_cases/Example.java
  src/main/java/use_cases/timer_needed_use_cases/Cycle.java
  src/main/java/use_cases/timer_needed_use_cases/Normal_Timer.java
  src/main/java/use_cases/timer_needed_use_cases/String_to_int.java
  src/main/java/use_cases/timer_needed_use_cases/TimerView.java
  src/main/java/use_cases/timer_needed_use_cases/TimerView_FixButton.java
  src/main/java/use_cases/timer_needed_use_cases/TimerView_FixCycle.java
  src/main/java/use_cases/timer_needed_use_cases/Timer_1.java
  src/main/java/use_cases/timer_needed_use_cases/Timer_countdown.java
  src/main/java/use_cases/timer_needed_use_cases/Timer_countdown_hour.java
  src/main/java/use_cases/timer_needed_use_cases/Timer_setup.java
  src/main/java/use_cases/timer_needed_use_cases/hour_and_second.java
  src/main/java/use_cases/timer_use_cases/Example.java
  src/main/java/use_cases/timer_use_cases/RunTimer.java
  src/main/java/use_cases/timer_use_cases/SetTimer.java
  src/main/java/use_cases/timer_use_cases/TimerCycle.java
  src/main/java/use_cases/timer_use_cases/TimerOutputBoundary.java
  src/main/java/use_cases/timer_use_cases/editTimerInputBoundary.java
  src/test/java/UI/TimerViewTest.java
Labels: timer

#24 8 data persistance
  LineChart.jpeg
  build.gradle
  src/main/java/Main.java
  src/main/java/controllers/ViewVisualizationController.java
  src/main/java/database/Database.java
  src/main/java/use_cases/tasks/EditCategory.java
  src/main/java/use_cases/tasks/EditCategoryPresenter.java
  src/main/java/use_cases/user/UserDataAccessInterface.java
  src/main/java/use_cases/visualization/CreateChart.java
  src/test/java/test_visualization/TestCreateChart.java
  test.ser
Labels: database

#29 Implement the Interface Adaptor Layer for Task
  src/main/java/controllers/tasks/CreateTaskController.java
  src/main/java/controllers/tasks/CreateTaskPresenter.java
  src/main/java/controllers/tasks/DeleteTaskController.java
  src/main/java/controllers/tasks/DeleteTaskPresenter.java
  src/main/java/controllers/tasks/EditTaskController.java
  src/main/java/controllers/tasks/EditTaskPresenter.java
  src/main/java/controllers/tasks/MarkCompletionController.java
  src/main/java/controllers/tasks/MarkCompletionPresenter.java
  src/main/java/controllers/tasks/MarkVisibilityController.java
  src/main/java/controllers/tasks/MarkVisibilityPresenter.java
  src/main/java/controllers/tasks/TaskCreationFailed.java
  src/main/java/controllers/tasks/TaskEditionFailed.java
  src/main/java/entities/Task.java
  src/main/java/entities/TaskFactory.java
  src/main/java/use_cases/tasks/CategoryPresenter.java
  src/main/java/use_cases/tasks/CreateTask.java
  src/main/java/use_cases/tasks/CreateTaskPresenter.java
  src/main/java/use_cases/tasks/DeleteTask.java
  src/main/java/use_cases/tasks/DeleteTaskPresenter.java
  src/main/java/use_cases/tasks/EditCategory.java
  src/main/java/use_cases/tasks/EditCategoryPresenter.java
  src/main/java/use_cases/tasks/EditTask.java
  src/main/java/use_cases/tasks/EditTaskPresenter.java
  src/main/java/use_cases/tasks/create_task/CreateTask.java
  src/main/java/use_cases/tasks/create_task/CreateTaskDsGateway.java
  src/main/java/use_cases/tasks/create_task/CreateTaskDsRequestModel.java
  src/main/java/use_cases/tasks/create_task/CreateTaskInputBoundary.java
  src/main/java/use_cases/tasks/create_task/CreateTaskInputData.java
  src/main/java/use_cases/tasks/create_task/CreateTaskOutputBoundary.java
  src/main/java/use_cases/tasks/create_task/CreateTaskOutputData.java
  src/main/java/use_cases/tasks/delete_task/DeleteTask.java
  src/main/java/use_cases/tasks/delete_task/DeleteTaskDsGateway.java
  src/main/java/use_cases/tasks/delete_task/DeleteTaskInputData.java
  src/main/java/use_cases/tasks/delete_task/DeleteTaskOutputData.java
  src/main/java/use_cases/tasks/edit_task/EditTask.java
  src/main/java/use_cases/tasks/edit_task/EditTaskDsRequestModel.java
  src/main/java/use_cases/tasks/edit_task/EditTaskInputData.java
  src/main/java/use_cases/tasks/edit_task/EditTaskOutputBoundary.java
  src/main/java/use_cases/tasks/edit_task/EditTaskOutputData.java
  src/main/java/use_cases/tasks/mark_task_completion/MarkCompletion.java
  src/main/java/use_cases/tasks/mark_task_completion/MarkCompletionDsRequestModel.java
  src/main/java/use_cases/tasks/mark_task_completion/MarkCompletionInputData.java
  src/main/java/use_cases/tasks/mark_task_completion/MarkCompletionOutputData.java
  src/main/java/use_cases/tasks/mark_task_visibility/MarkVisibility.java
  src/main/java/use_cases/tasks/mark_task_visibility/MarkVisibilityInputData.java
  src/main/java/use_cases/tasks/mark_task_visibility/MarkVisibilityOutputData.java
  src/test/java/testentities/TaskTest.java
  src/test/java/testentities/TestTask.java
Labels: task, clean architecture

#32 Updated the use case layer for Login system
  src/main/java/controllers/CreateHabitController.java
  src/main/java/controllers/EditHabitController.java
  src/main/java/controllers/TrackHabitController.java
  src/main/java/entities/CommonUser.java
  src/main/java/entities/User.java
  src/main/java/entities/UserFactory.java
  src/main/java/example_user/UserExample.java
  src/main/java/ui/Main.java
  src/main/java/ui/ToDoViewModel.java
  src/main/java/ui/user/LoginMainPage.java
  src/main/java/use_cases/habits/create_habit/CreateHabit.java
  src/main/java/use_cases/habits/create_habit/CreateHabitInputBoundary.java
  src/main/java/use_cases/habits/delete_habit/DeleteHabit.java
  src/main/java/use_cases/habits/edit_habit/EditHabit.java
  src/main/java/use_cases/habits/edit_habit/EditHabitInputBoundary.java
  src/main/java/use_cases/user/AccountCreation.java
  src/main/java/use_cases/user/ChangePassword.java
  src/main/java/use_cases/user/StrengthPassword.java
  src/main/java/use_cases/user/UserDataAccessInterface.java
  src/main/java/use_cases/user/UserOutputBound.java
  src/main/java/use_cases/user/create_user/CreateUserDsGateway.java
  src/main/java/use_cases/user/create_user/CreateUserDsRequestModel.java
  src/main/java/use_cases/user/create_user/CreateUserInputBoundary.java
  src/main/java/use_cases/user/create_user/CreateUserInputData.java
  src/main/java/use_cases/user/create_user/CreateUserInteractor.java
  src/main/java/use_cases/user/create_user/CreateUserOutputBoundary.java
  src/main/java/use_cases/user/create_user/CreateUserOutputData.java
  src/main/java/use_cases/user/create_user/UserDataAccessInterface.java
  src/main/java/use_cases/user/delete_user/DeleteUserDsGateway.java
  src/main/java/use_cases/user/delete_user/DeleteUserDsRequestModel.java
  src/main/java/use_cases/user/delete_user/DeleteUserInputBoundary.java
  src/main/java/use_cases/user/delete_user/DeleteUserInputData.java
  src/main/java/use_cases/user/delete_user/DeleteUserInteractor.java
  src/main/java/use_cases/user/delete_user/DeleteUserOutputBoundary.java
  src/main/java/use_cases/user/delete_user/DeleteUserOutputData.java
  src/main/java/use_cases/user/login_user/LoginUserDsGateway.java
  src/main/java/use_cases/user/login_user/LoginUserDsRequestModel.java
  src/main/java/use_cases/user/login_user/LoginUserInputBoundary.java
  src/main/java/use_cases/user/login_user/LoginUserInputData.java
  src/main/java/use_cases/user/login_user/LoginUserInteractor.java
  src/main/java/use_cases/user/login_user/LoginUserOutputBoundary.java
  src/main/java/use_cases/user/login_user/LoginUserOutputData.java
  src/test/java/test_database/TestDatabaseReadWrite.java
  src/test/java/test_use_cases/TestHabitUseCases.java
  src/test/java/testentities/TestUser.java
Labels: user system, clean architecture
