Repository CSC207-2022F-UofT/course-project-kronos, pull requests merged in 2022-12, with the labels that each got.

#40 recoded my previous category controller files from before the git mess.
  src/main/java/controllers/CategoryController.java
  src/main/java/controllers/category/CategoryCreationFailed.java
  src/main/java/controllers/category/CategoryEditFailed.java
  src/main/java/controllers/category/CreateCategoryController.java
  src/main/java/controllers/category/CreateCategoryPresenter.java
  src/main/java/controllers/category/DeleteCategoryController.java
  src/main/java/controllers/category/DeleteCategoryPresenter.java
  src/main/java/controllers/category/EditCategoryController.java
  src/main/java/controllers/category/EditCategoryPresenter.java
  src/main/java/entities/CategoryCollection.java
  src/main/java/entities/CommonUser.java
  src/main/java/example_user/UserExample.java
  src/main/java/ui/CreateCategory.java
  src/main/java/ui/Main.java
  src/main/java/ui/TitleBar.java
  src/main/java/use_cases/categories/create_category/CreateCategory.java
  src/main/java/use_cases/categories/create_category/CreateCategoryInputData.java
  src/main/java/use_cases/categories/create_category/CreateCategoryOutputBound.java
  src/main/java/use_cases/categories/create_category/CreateCategoryResponseModel.java
  src/main/java/use_cases/categories/delete_category/DeleteCategory.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryInputData.java
  src/main/java/use_cases/categories/edit_category/EditCategory.java
  src/main/java/use_cases/categories/edit_category/EditCategoryInputData.java
  src/main/java/use_cases/tasks/create_task/CreateTask.java
  src/test/java/test_database/TestDatabaseReadWrite.java
  src/test/java/test_use_cases/TestCategory.java
  src/test/java/test_use_cases/TestCategoryUseCases.java
  src/test/java/test_use_cases/TestHabitUseCases.java
  src/test/java/testentities/TestUser.java
Labels: category, clean architecture

#41 Category use case tests added and docstring added
  src/main/java/controllers/category/CategoryCreationFailed.java
  src/main/java/controllers/category/CategoryEditFailed.java
  src/main/java/controllers/category/CreateCategoryController.java
  src/main/java/controllers/category/CreateCategoryPresenter.java
  src/main/java/controllers/category/DeleteCategoryController.java
  src/main/java/controllers/category/DeleteCategoryPresenter.java
  src/main/java/controllers/category/EditCategoryController.java
  src/main/java/controllers/category/EditCategoryPresenter.java
  src/main/java/database/Database.java
  src/main/java/database/DatabaseCategory.java
  src/main/java/entities/Category.java
  src/main/java/entities/CategoryCollection.java
  src/main/java/ui/TimerScreen.java
  src/main/java/ui/category/CategoryList.java
  src/main/java/ui/category/CreateCategoryFrame.java
  src/main/java/ui/category/Main.java
  src/main/java/ui/category/TitleBar.java
  src/main/java/ui/category/ToDoView.java
  src/main/java/ui/category/ToDoViewModel.java
  src/main/java/use_cases/categories/create_category/CreateCategory.java
  src/main/java/use_cases/categories/create_category/CreateCategoryDsGateway.java
  src/main/java/use_cases/categories/create_category/CreateCategoryDsRequestModel.java
  src/main/java/use_cases/categories/create_category/CreateCategoryInputBound.java
  src/main/java/use_cases/categories/create_category/CreateCategoryInputData.java
  src/main/java/use_cases/categories/create_category/CreateCategoryOutputBound.java
  src/main/java/use_cases/categories/create_category/CreateCategoryOutputData.java
  src/main/java/use_cases/categories/delete_category/DeleteCategory.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryDsGateway.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryDsRequestModel.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryInputBound.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryInputData.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryOutputBoundary.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryOutputData.java
  src/main/java/use_cases/categories/edit_category/EditCategory.java
  src/main/java/use_cases/categories/edit_category/EditCategoryDsGateway.java
  src/main/java/use_cases/categories/edit_category/EditCategoryDsRequestModel.java
  src/main/java/use_cases/categories/edit_category/EditCategoryInputBound.java
  src/main/java/use_cases/categories/edit_category/EditCategoryInputData.java
  src/main/java/use_cases/categories/edit_category/EditCategoryOutputBoundary.java
  src/main/java/use_cases/categories/edit_category/EditCategoryOutputData.java
  src/test/java/test_use_cases/TestCategory.java
Labels: documentation, category, test

#63 Add UI of task feature
  src/main/java/controllers/tasks/CreateTaskController.java
  src/main/java/controllers/tasks/EditTaskController.java
  src/main/java/entities/Task.java
  src/main/java/ui/tasks/EditTaskScreen.java
  src/main/java/ui/tasks/TaskScreen.java
  src/main/java/use_cases/tasks/create_task/CreateTask.java
  src/main/java/use_cases/tasks/create_task/CreateTaskDsRequestModel.java
  src/main/java/use_cases/tasks/create_task/CreateTaskInputData.java
  src/main/java/use_cases/tasks/create_task/CreateTaskOutputData.java
  src/main/java/use_cases/tasks/delete_task/DeleteTaskOutputBoundary.java
  src/main/java/use_cases/tasks/edit_task/EditTask.java
  src/main/java/use_cases/tasks/edit_task/EditTaskDsRequestModel.java
  src/main/java/use_cases/tasks/edit_task/EditTaskInputData.java
  src/main/java/use_cases/tasks/edit_task/EditTaskOutputData.java
  src/main/java/use_cases/tasks/mark_task_completion/MarkCompletion.java
  src/main/java/use_cases/tasks/mark_task_completion/MarkCompletionOutputData.java
  src/test/java/test_use_cases/TestTaskUseCases.java
  src/test/java/testentities/TestTask.java
  src/test/java/testentities/TestTaskCollection.java
Labels: task, UI

#67 Resolved few bugs in MainUI for User Login System
  src/data.ser
  src/main/java/controllers/users/CreateUserController.java
  src/main/java/controllers/users/CreateUserPresenter.java
  src/main/java/controllers/users/LoginUserController.java
  src/main/java/controllers/users/LoginUserPresenter.java
  src/main/java/database/DatabaseUser.java
  src/main/java/entities/CommonUser.java
  src/main/java/entities/User.java
  src/main/java/ui/user/App.java
  src/main/java/ui/user/Button.java
  src/main/java/ui/user/CreateAccountPage.java
  src/main/java/ui/user/Label.java
  src/main/java/ui/user/LoginMainPage.java
  src/main/java/ui/user/LoginPage.java
  src/main/java/ui/user/MenuPage.java
  src/main/java/ui/user/Panel.java
  src/main/java/ui/user/TextField.java
  src/main/java/ui/user/UserCreationFail.java
  src/main/java/ui/user/textArea.java
  src/main/java/ui/users/CreateAccountUI.java
  src/main/java/ui/users/HomeScreenUI.java
  src/main/java/ui/users/LoginUserUI.java
  src/main/java/use_cases/user/AccountCreation.java
  src/main/java/use_cases/user/create_user/CreateUserInteractor.java
  src/main/java/use_cases/user/create_user/CreateUserOutputData.java
  src/main/java/use_cases/user/create_user/UserDataAccessInterface.java
  src/main/java/use_cases/user/delete_user/DeleteUserInputData.java
  src/main/java/use_cases/user/delete_user/DeleteUserInteractor.java
  src/main/java/use_cases/user/delete_user/DeleteUserOutputBoundary.java
  src/main/java/use_cases/user/delete_user/DeleteUserOutputData.java
  src/main/java/use_cases/user/login_user/LoginUserDsGateway.java
  src/main/java/use_cases/user/login_user/LoginUserDsRequestModel.java
  src/main/java/use_cases/user/login_user/LoginUserInputBoundary.java
  src/main/java/use_cases/user/login_user/LoginUserInputData.java
  src/main/java/use_cases/user/login_user/LoginUserInteractor.java
  src/main/java/use_cases/user/login_user/LoginUserOutputBoundary.java
  src/main/java/use_cases/user/login_user/LoginUserOutputData.java
  src/test.json
  src/test/java/test_entities/TestUser.java
  src/test/java/test_ui/TimerViewTest 2.java
  src/test/java/test_visualization/TestCreateChart 2.java
Labels: user system, UI

#76 Fix naming of entities. All entities with factory in their names replaced by corresponding collection
  src/main/java/entities/Category.java
  src/main/java/entities/CommonUser.java
  src/main/java/entities/TaskCollection.java
  src/main/java/entities/User.java
  src/main/java/use_cases/habits/create_habit/CreateHabit.java
  src/main/java/use_cases/habits/delete_habit/DeleteHabit.java
  src/main/java/use_cases/habits/edit_habit/EditHabit.java
  src/main/java/use_cases/habits/track_habit/TrackHabit.java
  src/main/java/use_cases/tasks/create_task/CreateTask.java
  src/main/java/use_cases/tasks/delete_task/DeleteTask.java
  src/main/java/use_cases/tasks/edit_task/EditTask.java
  src/main/java/use_cases/tasks/mark_task_completion/MarkCompletion.java
  src/test/java/test_database/TestDatabaseReadWriteUser.java
  src/test/java/test_entities/TestTaskCollection.java
  src/test/java/test_use_cases/TestHabitUseCases.java
  src/test/java/test_use_cases/TestTaskUseCases.java
Labels: bug

#69 🛠️ Modify category UI and database files
  dataCopy.ser
  databaseCategory.txt
  src/main/java/controllers/category/CategoryCreationFailed.java
  src/main/java/controllers/category/CreateCategoryController.java
  src/main/java/controllers/category/CreateCategoryPresenter.java
  src/main/java/controllers/category/DeleteCategoryController.java
  src/main/java/controllers/category/EditCategoryController.java
  src/main/java/controllers/habits/EditHabitController.java
  src/main/java/database/DatabaseCategory.java
  src/main/java/database/DatabaseTask.java
  src/main/java/entities/TimerTomato.java
  src/main/java/ui/ColourPalette.java
  src/main/java/ui/category/CategoryScreen.java
  src/main/java/ui/category/CheckTask.java
  src/main/java/ui/category/CreateCategoryFrame.java
  src/main/java/ui/category/CreateCategoryScreen.java
  src/main/java/ui/category/Main.java
  src/main/java/ui/category/TitleBar.java
  src/main/java/ui/category/ToDoListMain.java
  src/main/java/ui/category/ToDoScreen.java
  src/main/java/ui/category/ToDoView.java
  src/main/java/ui/category/ToDoViewModel.java
  src/main/java/ui/habits/EditHabitScreen.java
  src/main/java/ui/tasks/CreateTaskScreen.java
  src/main/java/ui/tasks/TaskScreen.java
  src/main/java/ui/timer/TimerScreen.java
  src/main/java/ui/users/CreateAccountUI.java
  src/main/java/ui/users/HomeScreenUI.java
  src/main/java/ui/users/LoginUserUI.java
  src/main/java/use_cases/categories/create_category/CreateCategory.java
  src/main/java/use_cases/categories/create_category/CreateCategoryInputBoundary.java
  src/main/java/use_cases/categories/create_category/CreateCategoryOutputBoundary.java
  src/main/java/use_cases/categories/delete_category/DeleteCategory.java
  src/main/java/use_cases/categories/delete_category/DeleteCategoryInputBoundary.java
  src/main/java/use_cases/categories/edit_category/EditCategory.java
  src/main/java/use_cases/categories/edit_category/EditCategoryInputBoundary.java
  src/main/java/use_cases/categories/edit_category/EditCategoryOutputData.java
  src/main/java/use_cases/tasks/create_task/CreateTask.java
  src/main/java/use_cases/tasks/create_task/CreateTaskDsGateway.java
  src/main/java/use_cases/tasks/edit_task/EditTaskDsGateway.java
  src/main/java/use_cases/timer/TimerOutputBoundary.java
  src/main/java/use_cases/timer/create_single_timer/CreateWorkTimerDsGateway.java
  src/main/java/use_cases/timer/create_single_timer/CreateWorkTimerInputBoundary.java
  src/main/java/use_cases/timer/edit_timer/EditTimer.java
  src/main/java/use_cases/timer/edit_timer/EditTimerDsGateway.java
  src/main/java/use_cases/timer/edit_timer/EditTimerDsRequestModel.java
  src/main/java/use_cases/timer/edit_timer/EditTimerInputBoundary.java
  src/main/java/use_cases/timer/edit_timer/EditTimerInputData.java
  src/main/java/use_cases/timer/edit_timer/EditTimerOutputData.java
  src/test/java/test_use_cases/TestCategoryUseCases.java
  src/test/java/test_use_cases/TestTaskUseCases.java
  src/test/java/test_visualization/TestCreateChart.java
Labels: database, category, UI

#77 Merging all the user files to the main
  src/main/java/Main.java
  src/test/java/test_use_cases/TestUserUserCases.java
Labels: user system
